page-home {
    .scroll-content {
        background-color: white;
    }

    .camera {
        font-size: 80px;
    }
    
    .home-card {
        background-color: #EEB902;
        color: black;
    }
    
    .home-card-header {
        text-align: center;
        color: black;
        font-size: 50px;
        font-weight: bolder;
    }
    
    .home-card-content {
        text-align: center;
    }
    
    .home-login-card {
        background: #8CBCB9;
    
    }
    
    .home-login-header {
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: bolder;
    }
    
    .home-login-content {
        text-align: center;
        color: white;
    }
}


.scroll-content {
    background-color: white;
}

.camera {
    font-size: 80px;
}

.home-card {
    background-color: #EEB902;
    color: black;
}

.home-card-header {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

.home-card-content {
    text-align: center;
}

.home-login-card {
    background: #8CBCB9;

}

.home-login-header {
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.home-login-content {
    text-align: center;
    color: white;
}